<div class="section">
    <h3>{{headingTitle}}</h3>
</div>

<div class="container">
    <div class="col-md-5 col-md-offset-1" ng-repeat="bar in view.data">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img ng-src="{{bar.imageUrl}}" />
                    <p class="barName">{{bar.restaurantName}}</p>
                </div>
                <div class="back">
                    <div class="row">
                        <div class="col-md-12 name">
                            <h1>{{bar.restaurantName}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <h6 class="url"><a ng-href="{{bar.websiteUrl}}">Website</a></h6>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <h6 class="url"><a ng-href="{{bar.menuUrl}}">Happy Hour Menu</a></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>Monday</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{bar.mondayTime}}</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Tuesday</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{bar.tuesdayTime}}</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Wednesday</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{bar.wednesdayTime}}</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Thursday</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{bar.thursdayTime}}</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Friday</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{bar.fridayTime}}</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Saturday</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{bar.saturdayTime}}</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Sunday</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{bar.sundayTime}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <h2>{{bar.neighborhood}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1>Google Maps</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{view.data}}