@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif !important;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    margin-bottom: 25px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 350px;
    height: 300px;
}

/* flip speed goes here */
.flipper {
    transition: 0.9s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    /*border: 1px solid grey;*/
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: 1px 2px 3px -1.5px #232323;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    box-shadow: 1px 2px 3px -1.5px #232323;
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}
img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    filter:brightness(60%);
}

.barName {
    display: flex;
    text-align: center;
    color: white;
    font-size: 3.5em;
    opacity: 1;
    z-index: 1;
    position: relative;
    padding-right: 4px;
    padding-left: 4px;
    text-shadow: 0 0 0.6em rgbo(0, 0, 0, 0.5);
}

.url {
    text-align: center;
}
.name {
    text-align: center;
    justify-content: center;
}

.url {
    margin-top: -5px;
}

.websiteUrl {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.restaurant,
.neighborhood{
    padding: 0;
    margin-top: 15px;
    text-align: center;
}

.maps{
    border:1px solid black;
    height: 100px;
    width:100px;
}
.day {
    margin-bottom: -10px;
    text-align: right;
}
.time {
    margin-bottom: -10px;
    text-align: left;
}
#map{
    height:250px;
    width:100%;
    box-shadow: 0 2px 3px -2px #232323;
    -moz-box-shadow: 0 2px 3px -2px #232323;
    -webkit-box-shadow: 0 2px 3px -2px #232323;
    margin-bottom: 2vw;
}
#map img{
    filter:brightness(100%);
}
#repeat{
    display: inline;
}
#country_container {
    width: 1000px;
    margin: 13px 3px 3px 0px;
    text-align: center;
    width: 85px;
    padding: 4px;
    display: inline-table;
    color: white;
    background-color: black;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid black;
    border-radius:13px;
}
#country_container:hover {
    box-shadow: 0px 0px 10px black;
    background-color: gray;
    border: 1px solid gray;
    cursor: pointer;
}
#names {
    cursor: pointer;
}
.search {
    margin-bottom: 2.5vw;
    margin-top: 2.5vw;
}
.no-underline:hover {
    text-decoration: none;
}
.ng-enter {
    animation: fadeIn .9s;
}
.ng-leave {
    animation: fadeOut .9s;
}

/* Navbar */
.navbar-default {
    background-color: #07222D !important;
    border-color: #07222D !important;
    border-radius: 0px !important;
    height: 80px !important;
    margin-bottom: 0px !important;
}
.navbar-default input{
    margin-top:15px !important;
    /*margin-right: 3vw;*/
    border-radius: 0px !important;
    width: 200px !important;

    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd !important;
    background-color: #07222D !important;
    color: white !important
}

.navbar-default input:focus {
    background-color: white !important;
    color: #07222D !important;
    width: 400px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
}
.navbar-default input[type="text"] {
    -webkit-transition: width 0.7s ease-in-out !important;
    -moz-transition: width 0.7s ease-in-out !important;
    -o-transition: width 0.7s ease-in-out !important;
    transition: width 0.7s ease-in-out !important;
}

.navbar-default input[type="text"]::-webkit-input-placeholder {  color: white; text-align: center; }
FF 4-18
.navbar-default input[type="text"]:-moz-placeholder           { color: white; text-align: center; }
FF 19+
.navbar-default input[type="text"]::-moz-placeholder          { color: white; text-align: center;}
IE 10+
.navbar-default input[type="text"]:-ms-input-placeholder      { color: white; text-align: center;}


.navbar-brand {
    /*padding-top:30px !important;*/
    font-family: 'Roboto', sans-serif !important;
    width: auto !important;
}

.navbar-default a {
    color: #fff !important;
}

.navbar-form {
    text-align:center !important;
}

input {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd !important;
}

/* Add new form */

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #07222D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}


/*  button! */
.btn {
    background-color: #07222D !important;
    color: white !important;
    border-radius: 0 !important;
}
