/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    margin-bottom: 25px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 400px;
    height: 400px;
}

/* flip speed goes here */
.flipper {
    transition: 0.9s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    border: 1px solid grey;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}
.barName {
    display: flex;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 3.5em;
    opacity: 1;
    z-index: 1;
    position: relative;
    padding-right: 4px;
    padding-left: 4px;
}
img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.7;
}
.url {
    text-align: center;
}
.name {
    text-align: center;
    justify-content: center;
}

.url {
    margin-top: -5px;
}

.websiteUrl {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.restaurant,
.neighborhood{
    padding: 0;
    margin-top: 5px;
}

.maps{
    border:1px solid black;
    height: 100px;
    width:100px;
}
.day {
    margin-bottom: -10px;
    text-align: right;
}
.time {
    margin-bottom: -10px;
    text-align: left;
}